<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107011547212-3l7g20cmsc5ic7kmejp83g2ikmhe06ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107011547212-3l7g20cmsc5ic7kmejp83g2ikmhe06ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCr9XctipAT_RDgxl9DUZfALeWvJeoCK8k</string>
	<key>GCM_SENDER_ID</key>
	<string>107011547212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AssA.PhotoEditorApp</string>
	<key>PROJECT_ID</key>
	<string>photoeditorapp-d8383</string>
	<key>STORAGE_BUCKET</key>
	<string>photoeditorapp-d8383.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107011547212:ios:206c6267b726dd63ebd4e9</string>
</dict>
</plist>
