<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.107011547212-3l7g20cmsc5ic7kmejp83g2ikmhe06ga</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>107011547212-3l7g20cmsc5ic7kmejp83g2ikmhe06ga.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>save Image to Gallery</string>
</dict>
</plist>
